# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.production
.env.development

# Build
dist/
build/
.cache/
.vercel/

# Prisma
prisma/dev.db
prisma/test.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp


/generated/prisma
server.js
